:root {
  --font: "Google Sans Code", monospace;
  --black: #101010;
  --gray: #4d4d4d;
  --lightGray: #858585;
  --white: #fcfcfc;
  --primary: #f3d125;
  --primaryBg: #fff3b9;
  --fadeOff: left 0s 0.2s, opacity 0.2s;
  --fadeOn: left 0s, opacity 0.2s;
  --radius: 4px;
  --radiusLarge: 8px;
  --fieldBorder: #ddd;
}
